## OS Specific
.DS_Store

## Java
*.class

# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


## Eclipse
.classpath
.project
.metadata
.settings
*.prefs
*/bin/		# <-- Should not intrude with anything else.

## Netbeans
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


## Dependency / Build manager (Maven or Gradle?)
# TODO -- Decide which (if any) to use.


## Gradle
# .gradle
# gradle-app.setting
# build/
# TODO: Potentially netbean specific files?

## Maven
#*/target/
# TODO: Potentially netbean specific files?